<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link href = "{{ url_for('static', path = '/styles.css') }}" rel = "stylesheet">
    <link href = "http://fonts.googleapis.com/css?family = Lato:400,700" rel = "stylesheet" type = "text/css">
    <title>AB IC Results</title>
</head>
<body>
    <div class = "response-data">
        <h3>AB IC Results</h3>
        <table class = "ab-ic-results">
            {% if entries|length > 0 %}
                {% set headers = entries[0].keys() %}
                <tr>
                    {% for h in headers %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            {% for e in entries %}
                <tr>
                {% for k, v in e.items() %}
                    <th>{{ v }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>